{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set use_bricklayer = header_var('use_bricklayer', [page, blog])|defined(true) %}
{% set item_template = header_var('content', [page, blog]).item_template|defined('partials/blog-list-item.html.twig') %}
{% set readmore_link = header_var('readmore_link') %}
{% set readmore_text = header_var('readmore_text')|defined("Read More") %}
{% set show_readmore = header_var('show_readmore')|defined(false) %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if use_bricklayer %}
        {% do assets.add('theme://js/bricklayer.min.js') %}
    {% endif %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}


{% block hero %}
    {% include 'partials/hero.html.twig' with {id: 'blog-hero', content: page.content, hero_image: blog_image} %}
{% endblock %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                <div class="{{ (use_bricklayer) ? 'bricklayer' : 'blog-posts' }}">
                {% for child in collection %}
                    {% include item_template with {blog: page, page: child} %}
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

                {% if show_readmore and config.plugins.pagination.enabled and collection.params.pagination %}
                    {% if readmore_link and (collection.params.pagination|length > 1) %}
                        <div class="prev-next text-center">
                            <a class="btn" href="{{ base_url ~ readmore_link|absolute_url }}">{{ "THEME_QUARK.BLOG.MORE_POSTS"|t }} <i class="fa fa-angle-right"></i></a>
                        </div>
                    {% endif %}
                {% endif %}

            {% endblock %}

            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>
    <script>
    {% if use_bricklayer %}
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    {% endif %}
    </script>
{% endblock %}



